html{
    background: url('images.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    width: 100%;
}
#container{
    align-items: center;
    align-content: center;
    background-color: gray;
    width: 350px;
    margin: auto;
    margin-top: 5px;
    border: 5px solid rgb(85, 85, 85);
    border-radius: 5px;
    box-shadow: 1px 1px gray;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 5px;
}

#screen{
    width: 90%;
    margin-top: 5px;
    background-color: rgba(0, 255, 255, 0.316);
    border: 1px solid black;
    border-radius: 4px;
    font-size: 50px;
    text-align: end;
    font-family: monospace;
    padding-right: 5%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn{
    width: 100px;
    border: 2px solid aqua;
    border-radius: 4px;
    box-shadow: 1px 2px black;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: auto;
    font-family: "Monaco", "Lucida Console", monospace;
    font-weight: bold;
}

.btn:active{
    opacity: 50%;
}



#rowOneContainer{
    display: flex;
    width: 95%;
    justify-content: space-between;
    gap: 4px;

}

#rowOneContainer #clearBtn{
    background-color: cornflowerblue;
}

#rowOneContainer .btn{
    background-color: rgba(255, 127, 80, 0.734);
}

#rowTwoContainer{
    display: flex;
    width: 95%;
    justify-content: space-between;
    gap: 4px;
}

#rowTwoContainer .btn{
    background-color: rgba(220, 20, 60, 0.452);
}

#rowOneContainer #divideBtn{
    background-color: rgba(198, 10, 235, 0.5);
}

#rowTwoContainer #multiplyBtn{
    background-color: rgba(198, 10, 235, 0.5);
}
#rowThreeContainer{
    display: flex;
    width: 95%;
    justify-content: space-between;
    gap: 4px;
}

#rowThreeContainer #subtractBtn{
    background-color: rgba(198, 10, 235, 0.5);
}

#rowThreeContainer .btn{
    background-color: rgba(220, 20, 60, 0.452);
}

#rowFourContainer{
    display: flex;
    width: 95%;
    justify-content: space-between;
    gap: 4px;
}

#rowFourContainer .btn{
    background-color: rgba(220, 20, 60, 0.452);
}

#rowFourContainer #addBtn{
    background-color: rgba(198, 10, 235, 0.5);
}

#rowFiveContainer{
    display: flex;
    width: 95%;
    justify-content: space-between;
    gap: 4px;
}


#rowFiveContainer .btn{
    background-color: rgba(220, 20, 60, 0.452);
}

#rowFiveContainer #equalsBtn{
    background-color: rgba(198, 10, 235, 0.50);
}
#zero{
    flex: 2.25;
}

#decimal{
    flex: 1;
}

#equalsBtn{
    flex: 1;
}